
{% extends "base.html" %}

{% block content %}

<h1>404 - Page not found</h1>

<p>
    Please try checking the link you used to get here. If you're following a link 
    on this website that is no longer valid, please <a href="mailto:help@srg.id.au">let me know</a>.
</p>

<p style="margin-top: 2em">
    You could also stay here and draw for a bit while the content you requested is being created.
</p>

<p>
    <b>Move your cursor</b> to draw a line on the page. <b>Click and drag</b> to make the line brighter. You might see
    other cursors making their own artwork - that's other people who are also active on the site.
</p>

{% endblock content %}