<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="apple-touch-icon.png", trailing_slash=false) }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="favicon-32x32.png", trailing_slash=false) }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="favicon-16x16.png", trailing_slash=false) }}">
        <link rel="manifest" href="{{ get_url(path="site.webmanifest", trailing_slash=false) }}">

        <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
        <link rel="canonical" href="{{ get_url(path='.', trailing_slash=false) }}" />
        <meta property="og:locale" content="en_AU" />
        <meta property="og:url" content="{{ get_url(path='.', trailing_slash=false) }}" />

        <meta property="og:site_name" content="{{ config.extra.site_title }}" />

        {% if page.title %}
            <title>{{page.title}} | {{config.extra.site_title}}</title>
            <meta property="og:title" content="{{page.title}}" />
        {% elif section.title %}
            <title>{{section.title}} | {{config.extra.site_title}}</title>
            <meta property="og:title" content="{{section.title}}" />
        {% else %}
            <title>{{config.extra.site_title}}</title>
            <meta property="og:title" content="{{config.extra.site_title}}" />
        {% endif %}

        {% set desc=config.extra.site_description %}
        {% if page.description %}
            {% set desc=page.description %}
        {% elif section.description %}
            {% set desc=section.description %}
        {% endif %}

        <meta name="description" content="{{ desc }}" />
        <meta property="og:description" content="{{ desc }}" />

        <meta property="og:image" content="{{ get_url(path="og.png", trailing_slash=false) }}">

        <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}" />

        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="//analytics.x.srg.id.au/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->

    </head>
    <body>
        <div class="main">
            <div class="links">
                <a href="{{ get_url(path="") }}"><b>srg</b></a>
                <a href="https://github.com/shaunakg" target="_blank">github</a>
                <a href="mailto:hi@srg.id.au" target="_blank">email</a>
                <a style="display:none" rel="me" href="https://social.srg.id.au/@sg" target="_blank">mastodon</a>
                <a href="https://cdn.srg.id.au/cv.pdf">resumé</a>
                <a href="{{ get_url(path="@/posts/_index.md") }}">posts</a>
                <!-- <a href="/pgp.txt">pgp</a> -->
            </div>

            {% block content %} {% endblock %}
        </div>

        <div class="overlay" id="canvas-overlay" style="z-index: -2">
            <canvas id="canvas" width="500" height="500"></canvas>
        </div>

        <div class="overlay" id="cursors-overlay" style="z-index: -1"></div>

        <script src="/main.js"></script>

        <footer>
            © 2022 Shaunak G (srg) · <a href="/pgp.txt">pgp public key</a>
        </footer>

    </body>
</html>
