<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml">
        <link rel="canonical" href="{{ get_url(path='.', trailing_slash=false) }}" />
        <meta property="og:locale" content="en_AU" />
        <meta property="og:url" content="{{ get_url(path='.', trailing_slash=false) }}" />

        <meta property="og:site_name" content="{{ config.extra.site_title }}" />

        {% if page.title %}
            <title>{{page.title}} | {{config.extra.site_title}}</title>
            <meta property="og:title" content="{{page.title}}" />
            <meta property="twitter:title" content="{{ page.title }}">
        {% elif section.title %}
            <title>{{section.title}} | {{config.extra.site_title}}</title>
            <meta property="og:title" content="{{section.title}}" />
            <meta property="twitter:title" content="{{ section.title }}">
        {% else %}
            <title>{{config.extra.site_title}}</title>
            <meta property="og:title" content="{{config.extra.site_title}}" />
            <meta property="twitter:title" content="{{config.extra.site_title}}">
        {% endif %}

        {% set desc=config.extra.site_description %}
        {% if page.description %}
            {% set desc=page.description %}
        {% elif section.description %}
            {% set desc=section.description %}
        {% endif %}

        <meta name="description" content="{{ desc }}" />
        <meta property="og:description" content="{{ desc }}" />
        <meta property="twitter:description" content="{{ desc }}" />

        {% if page.extra.og_image %}
            <meta property="og:image" content="{{ page.extra.og_image | safe }}">
            <meta property="twitter:image" content="{{ page.extra.og_image | safe }}">
        {% else %}
            {% if page.description %}
                <meta property="og:image" content="https://opengraph.srg.id.au/?text={{ page.title | urlencode }}&footer={{ page.description | urlencode }}&btmright=srg.id.au%2Fposts%2F{{ page.slug | urlencode }}&date={{ page.date | urlencode }}&x={{ get_random(start=0, end=9999999) }}" >
                <meta property="twitter:image" content="https://opengraph.srg.id.au/?text={{ page.title | urlencode }}&footer={{ page.description | urlencode }}&btmright=srg.id.au%2Fposts%2F{{ page.slug | urlencode }}&date={{ page.date | urlencode }}&x={{ get_random(start=0, end=9999999) }}" >
            {% else %}
                <meta property="og:image" content="{{ get_url(path="og.png", trailing_slash=false) }}">
                <meta property="twitter:image" content="{{ get_url(path="og.png", trailing_slash=false) }}">
            {% endif %}
        {% endif %}

        <link rel="stylesheet" href="/style.css" />

        <link rel="webmention" href="https://webmention.io/srg.id.au/webmention" />
        <link rel="pingback" href="https://webmention.io/srg.id.au/xmlrpc" />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@shaunak_g" />
        <meta name="twitter:creator" content="@shaunak_g" />

        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="//analytics.x.srg.id.au/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->

    </head>
    <body>
        <div class="main">
            <div class="links">
                <a href="{{ get_url(path="") }}"><b>srg</b></a>
                <a rel="me authn" href="https://github.com/shaunakg" target="_blank">github</a>
                <a rel="me" href="mailto:hi@srg.id.au" target="_blank">email</a>
                <a rel="me" style="display:none" href="https://social.srg.id.au/@sg" target="_blank">mastodon</a>
                <a href="https://cdn.srg.id.au/cv.pdf">resumé</a>
                <a href="/posts">posts</a>
                <!-- <a href="/pgp.txt">pgp</a> -->
            </div>

            {% if page.extra.hidden %}
            <div class="hidden-warning">
                <p>
                    This page is hidden. Please don't share the link to this page until it is published.
                </p>
            </div>
            {% endif %}

            {% block content %} {% endblock %}
        </div>

        <div class="overlay" id="canvas-overlay">
            <canvas id="canvas" width="500" height="500"></canvas>
        </div>

        <div class="overlay" id="cursors-overlay"></div>

        <script src="/main.js"></script>

        <footer id="main-footer">
            © 2022 Shaunak G (srg) · <a rel="pgpkey" href="/pgp.txt">pgp public key</a>
        </footer>

    </body>
</html>
