{% extends "base.html" %}

{% block content %}
<h1>Shaunak Gadkari</h1> 
<div class="sub" style="margin-bottom:30px">
    <img src="/images/map-pin.svg" alt="Map pin" class="icon" />
    <span>Melbourne, Australia</span>
</div>

<h2>Projects</h2>

<ul class="sep-more">

    <li>
        <a href="//scalpel.srg.id.au" target="_blank">Scalpel</a>, a comprehensive resource for medical students on their surgery rotation.
        Contains procedure descriptions, guides, anatomical images and answers to common questions.
    </li>

    <li>
        <a href="/posts/building-cardz/" target="_blank">Cardz</a>, a
        flashcard and quiz generation website that uses machine
        learning to generate flashcards with a single click.
    </li>

    <li>
        <a href="https://github.com/shaunakg/sixtysecondshell"
            target="_blank"
            >SixtySecondShell</a
        >, a programming education tool that allows users 60 seconds
        to use the terminal in an arbitrary programming language.
    </li>

    <li>
        <a
            href="https://s-g.notion.site/DevPlatform-Internal-Development-Platform-a4b85d9675c4435e9b90bfb85d4f0317"
            target="_blank"
            >DevPlatform</a
        >, an internal tooling system that allows for the creation
        of development environments with an integrated IDE,
        accessible through any browser.
    </li>

    <li>
        <a
            href="https://s-g.notion.site/Ultramarine-Real-time-fully-encrypted-database-less-chat-791250f124234581b2cb3248c331aba0"
            target="_blank"
            >Ultramarine</a
        >, an end-to-end encrypted ephemeral chat application.
    </li>

    <li>
        <a
            href="/notion-reading-list/"
            target="_blank"
            >Notion Reading List</a
        >, an integration for Notion to manage a bookshelf and
        reading list, with automatically updating metadata and cover
        images.
        <i>Used hundreds of times and adapted into variations</i>.
    </li>

<!-- 
    <li>
        <a href="https://ambience.srg.id.au/" target="_blank"
            >Ambience</a
        >, a super fast and minimal study dashboard that supports
        to-do lists and music playback.
    </li> -->

    <li>
        <a href="https://srg.id.au/" target="_blank"
            >This site</a
        >, a personal portfolio.
        It has an interactive canvas 
        in the background where visitors can draw anything.
        Source code: <a href="https://github.com/shaunakg/portfolio-zola" target="_blank">frontend</a> and <a href="https://github.com/shaunakg/portfolio-backend" target="_blank">backend</a>.
    </li>
</ul>

<h2>Skills</h2>

<h3>Languages</h3>
<ul>
    <li>
        JavaScript (ES6+) - both front-end and back-end (node.js,
        etc)
    </li>

    <li>
        Python - for data science/machine learning as well as web
        services
    </li>

    <li>Go - web services and CLIs</li>

    <li>HTML and CSS - for front-end development</li>
</ul>

<h3>Frameworks</h3>
<ul>
    <li>React - front end UI</li>

    <li>Svelte - front end UI</li>

    <li>Next.js - full stack web applications</li>

    <li>Flask (Python) - web services and frameworks</li>
</ul>

<h2>Education</h2>
<div class="qualification current">

    <span class="current-marker mono">in progress</span>

    <div class="text">
        <b>Monash University</b><br/>
        Bachelor of Medical Science + Doctor of Medicine<br/>
        2023 - <i>2027</i>
    </div>

    <div class="logo">
        <img src="/images/monash.svg" alt="Monash University logo" />
    </div>
</div>

<div class="qualification">
    <div class="text">
        <b>John Monash Science School</b><br/>
        Victorian Certificate of Education<br/>
        2020 - 2022
    </div>

    <div class="logo">
        <img src="/images/jmss-bw.webp" alt="John Monash Science School logo" />
    </div>
</div>


<h2>About this site</h2>
<p>
    This site is an collaborative canvas. Click and drag to draw in a
    darker color. Try opening this page in a new tab to see it
    in action.
</p>

<p>
    Press <kbd>Shift</kbd>+<kbd>Esc</kbd> to disable interactivity
    and clear the canvas. Press it again to save your setting in
    your browser local storage.
</p>

<b id="br-message">
    <span id="number-of-cursors">0 people</span> here right now.
</b>
{% endblock content %}
