{% extends "base.html" %}

{% block content %}

<h1 class="title">
  {{ section.title }}
</h1>

<p>
  These posts are published semi-regularly about various things that I have created.
</p>

<p>
  You can also access these posts via <a href="/atom.xml">RSS</a>.
</p>

<ul>
  {% for page in section.pages %}
    {% if not page.extra.hidden %}

      <li>
        {{page.date}} - <a href="{% if page.extra.external_link %}{{ page.extra.external_link | safe }}{% else %}{{ page.permalink | safe }}{% endif %}">
          {{ page.title }}
        </a>

        {% if page.taxonomies.tags and false %}
          <br/>
          <div class="sml-tags">
            {% for tag in page.taxonomies.tags %}
              <!-- <a class="tag sml" href="/tags/{{ tag | slugify | safe }}">#{{ tag }}</a> -->
              <span>#{{tag | slugify}}  </span>
            {% endfor %}
          </div>
        {% endif %}

      </li>

    {% endif %}
  {% endfor %}
</ul>

<a class="back" href="#" onclick="history.back()">&lt;- Back</a>
{% endblock content %}